.member {
    color: lightgray;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.parents {
    margin-right: 2vw;
}

a {
    margin-left: 5vw;
}

.root {
    margin-top: 2vh;
}

.node:hover {
    opacity: .7;
    cursor: pointer;
}

.node {
    color: white;
}

* {
    scrollbar-color: white;
}